GROQ_API_KEY=   your_api_key
TAVILY_API_KEY= your_api_key
NVIDIA_API_KEY= your_api_key
IMGBB_API_KEY=  your_api_key


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=your_langsmith_endpoint
LANGSMITH_API_KEY=your_api_key
LANGSMITH_PROJECT=your_project_name
